/* Header Content */
.headerBox{
    display: block;
    background-color: white;
    display: inline-block;
    width: 95vw;
    margin: 5px;
    padding: 10px;
    font-family: 'Skranji', cursive, sans-serif;
}

/* Navigation Bars */
.navLeft{
    float:left;
}

.navRight{
    float:right;
}

.highScore{
    text-decoration: none;
    color:black;
}

.highScore:hover{
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: gold;
}

/* Main Body Content */

body{
    font-family: 'Skranji', cursive, sans-serif; 
}

.container{
    width:50%;
    margin: auto;
}
