.headerBox{
    display: block;
    background-color: white;
    display: inline-block;
    width: 95vw;
    margin: 5px;
    padding: 10px;
    font-family: 'Skranji', cursive;
}

.navLeft{
    float:left;
}
.navRight{
    float:right;
}

